{% extends "trades/base.html" %}

{% block page_style %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<style>
    * {
        font-family: 'Roboto';
    }
</style>
<script type="text/javascript">
    function myFunction(trade_id, trade_delete_url)
    {
        if (true == confirm("Do you want to delete trade: " + trade_id))
        {
            window.location.href = trade_delete_url;
        }
    }
</script>
{% endblock page_style %}

{% block content %}

<h1>Trades on {{day}}/{{month}}/{{year}}</h1>

{% if trades %}
    {% for trade in trades %}
        <div>
            {{ trade }}
            {% if editable %} 
                <a href="{% url 'trades-edit' trade.trade_id %}">Edit</a>
                <button onclick='myFunction("{{ trade }}", "{% url 'trades-delete' trade.trade_id %}")'>Delete</button>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No trades found on this day.</p>
{% endif %}

{% endblock content %}
